.navigation-swiper-wrapper {
  @apply w-full hidden sm:flex justify-between absolute top-[40%] px-2;
  button {
    @apply flex justify-center items-center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    @apply rounded-full p-1 z-50;
    .arrow {
      @apply !w-12 !h-12 text-white font-bold;
    }
    .prev {
      @apply !pr-1;
    }
    .next {
      @apply !pl-1;
    }
  }
  button:hover {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  }
}
